<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pomodoro Timer</title>
	<!-- HTMX -->
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<link href="/pomodoro/styles/output.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
		rel="stylesheet">
</head>

<body class="font-[Roboto_Mono] bg-[#323232] h-screen relative select-none">
	<div class="flex justify-center items-center h-full">
		<div hx-get="/pomodoro/app" hx-trigger="load" hx-swap="innerHTML"></div>
	</div>
	<div
		class="h-2 hover:h-56 overflow-clip transition-all absolute w-full hover:text-black text-[#323232] bg-gray-300 bottom-0">
		<p>
			Made with love using HTMX, Tailwind, Alpine.js, Askama, and Actix Web
			<br />
			<br />
			I developed this mini project because I want to make my own productivity tools.
			<br />
			<br />
			I chose Alpine.js and HTMX to keep the app lightweight, allowing for efficient interactivity
			without heavy JavaScript frameworks. Tailwind CSS helps me style the app quickly and maintain a
			clean design system. For the backend, I used Actix Web and Askama to ensure fast, efficient
			server-side rendering with Rust’s performance benefits.
			<br />
			<br />
			Best,
			<br />
			Loven Angelo
		</p>
	</div>
</body>

</html>
