<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pomostreak</title>
	<!-- HTMX -->
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<link href="/pomodoro/styles/output.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
		rel="stylesheet">
</head>

<body x-data="timer" class="font-[Roboto_Mono] bg-[#323232] h-screen relative select-none">
	<div class="flex justify-center items-center h-full">
		<div hx-get="/pomodoro/app" hx-trigger="load" hx-swap="innerHTML"></div>
	</div>
	<div :class="isBreakTime && !isTimerActive ? 'absolute top-24 right-24' : 'hidden'">
		<img src="https://media.giphy.com/media/geYwtodB9AiI0/giphy.gif?cid=790b76113poz3igy4jf5hr0rlrlmzs47ygatyamjtfms48ru&ep=v1_gifs_search&rid=giphy.gif&ct=g"
			alt="Funny Cat GIF" class="w-full max-w-md mx-auto">
		<h1 class="mt-2 text-white">Hey! take a break</h1>
	</div>
	<div :class="!isBreakTime && !isTimerActive && count !== 0 ? 'absolute top-24 right-24' : 'hidden'">
		<img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3Ywc3Z2ZzE0YWhlaGxhb2ZkOTd0Z3E5ZHB0aXRycDJ3emplamE4cyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/CjmvTCZf2U3p09Cn0h/giphy.gif"
			alt="Funny Cat GIF" class="w-full max-w-md mx-auto">
		<h1 class="mt-2 text-white">One more session, let's go!!!</h1>
	</div>
	<div class="absolute left-24 top-50 h-min flex flex-col italic items-start p-4 text-white">
		<div class="flex space-x-2 mb-2">
			<h2 class="text-xl font-light mb-2">Pomostreak: </h2>
			<h2 class="text-xl font-light mb-2" x-text="count"></h2>
		</div>
		<ul x-init="renderPomostreak()" id="streakDisplay">
			&nbsp;
		</ul>
	</div>
	<div
		class="h-2 hover:h-56 overflow-clip transition-all absolute w-full hover:text-black text-[#323232] bg-gray-300 bottom-0">
		<p>
			Made with love using HTMX, Tailwind, Alpine.js, Askama, and Actix Web
			<br />
			<br />
			I developed this mini project because I want to make my own productivity tools.
			<br />
			<br />
			I chose Alpine.js and HTMX to keep the app lightweight, allowing for efficient interactivity
			without heavy JavaScript frameworks. Tailwind CSS helps me style the app quickly and maintain a
			clean design system. For the backend, I used Actix Web and Askama to ensure fast, efficient
			server-side rendering with Rust’s performance benefits.
			<br />
			<br />
			Best,
			<br />
			Loven Angelo
		</p>
	</div>
</body>

</html>

<script>
	const timer = {
		count: 0,
		autoplay: false,
		longBreakDuration: 15,
		mute: false,
		currentTime: 25 * 60, // Default session time in minutes
		nextSessionTime: 25, // Default session time
		nextBreakTime: 5, // Default break time
		isBreakTime: false, // Tracks if it's break time
		isTimerActive: false, // Tracks if the timer is running
		intervalId: null, // Stores the interval ID
		// Getter for formatted minutes
		get minutes() {
			return Math.floor(this.currentTime / 60);
		},

		// Getter for formatted seconds
		get seconds() {
			return this.currentTime % 60;
		},

		// Format time values to always show 2 digits
		format(value) {
			return value < 10 ? `0${value}` : value.toString();
		},

		// Generate the label based on the timer state
		label() {
			if (!this.isTimerActive && !this.isBreakTime) {
				return "Start Session";
			} else if (!this.isTimerActive && this.isBreakTime) {
				return "Start Break";
			} else {
				return this.isBreakTime ? "Timer Started | Break Time" : "Timer Started | Focus Time";
			}
		},

		// Start or resume the countdown
		countdown() {
			this.playSound("button1");
			if (!this.autoplay) {
				this.stopSound("bugle");
			}
			if (!this.isTimerActive) {
				this.isTimerActive = true;
				this.startSession(this.currentTime);
			}
		},

		// Start the session or break
		startSession(minutes) {
			const expiry = new Date(Date.now() + minutes * 1000); // Convert to milliseconds
			this.expiry_date = expiry;

			if (this.intervalId === null) {
				this.intervalId = setInterval(() => {
					this.setRemaining();
				}, 1000);
			}
		},

		// Update the remaining time
		setRemaining() {
			const diff = this.expiry_date - Date.now();
			this.currentTime = Math.max(0, Math.floor(diff / 1000));

			if (this.currentTime === 0) {
				this.next(); // Transition to the next state (session or break)
			}
		},

		// Transition to the next state (session or break)
		next() {
			this.removeInterval(); // Clear the current interval
			this.isTimerActive = false;
			this.isBreakTime = !this.isBreakTime; // Toggle between session and break

			// Set the next time based on the current state
			if (this.isBreakTime) {
				this.playSound("ding");
				const isLongBreakTime = this.count % 4 == 0 && this.nextBreakTime == 5;
				this.currentTime = isLongBreakTime ? this.longBreakDuration * 60 : this.nextBreakTime * 60; // Convert minutes to seconds
				this.count++;
			} else {
				this.playSound("bugle");
				this.currentTime = this.nextSessionTime * 60; // Convert minutes to seconds
			}
			if (this.autoplay) {
				this.countdown()
				this.count++;
			}
		},

		// Reset the timer to the initial state
		reset() {
			if (this.nextSessionTime != 25 || this.nextBreakTime != 5 || this.currentTime != 25 * 60) {
				this.playSound("button1");
			}
			this.removeInterval();
			this.currentTime = 25 * 60; // Reset to session time in seconds
			this.nextSessionTime = 25; // Reset to session time in seconds
			this.nextBreakTime = 5; // Reset to session time in seconds
			this.isTimerActive = false;
			this.isBreakTime = false;
			this.stopSound();
		},

		// Clear the interval
		removeInterval() {
			if (this.intervalId) {
				clearInterval(this.intervalId);
				this.intervalId = null;
			}
		},

		// Increment session time
		incrementSession() {
			this.playSound("button2");
			this.nextSessionTime++;
			if (!this.isTimerActive) {
				this.updateMainTime();
			}
		},

		// Decrement session time
		decrementSession() {
			if (this.nextSessionTime > 1) {
				this.playSound("button2");
				this.nextSessionTime--;
				if (!this.isTimerActive) {
					this.updateMainTime();
				}
			}
		},

		// Increment break time
		incrementBreak() {
			this.playSound("button2");
			this.nextBreakTime++;
			if (!this.isTimerActive) {
				this.updateMainTime();
			}
		},

		// Decrement break time
		decrementBreak() {
			if (this.nextBreakTime > 1) {
				this.playSound("button2");
				this.nextBreakTime--;
				if (!this.isTimerActive) {
					this.updateMainTime();
				}
			}
		},

		// Update the main time display
		updateMainTime() {
			if (this.isBreakTime) {
				this.currentTime = this.nextBreakTime * 60; // Convert minutes to seconds
			} else {
				this.currentTime = this.nextSessionTime * 60; // Convert minutes to seconds
			}
		},

		// Playing sounds
		playSound(soundname) {
			if (!this.mute) {
				var audio = document.getElementById(soundname);
				audio.volume = 0.2; // adjust volume
				audio.pause(); // Stop the currently playing sound
				audio.currentTime = 0; // Reset the audio to start from the beginning
				audio.play();
			}
		},

		// Playing sounds
		stopSound(soundname) {
			var thissound = document.getElementById(soundname);
			if (thissound != null)
				thissound.pause();
		},

		// toggleAutoplay
		toggleAutoplay() {
			this.playSound("button1");
			this.autoplay = !this.autoplay;
		},

		// toggleMute
		toggleMute() {
			this.playSound("button1");
			this.stopSound("bugle");
			this.stopSound("ding");
			this.mute = !this.mute;
		},

		// Streaks
		renderPomostreak() {
			const streakCount = this.count;
			const streakContainer = document.getElementById("streakDisplay");
			for (let i = 0; i < streakCount; i++) {
				const li = document.createElement("li");
				streakContainer.appendChild(li);
			}
		}

	};
</script>
